@media screen and (max-width:1200px){
    .notice_wrapper{
        width: 100%;
    }
    .notice_btn{
        left: 5%;
    }
}
@media screen and (max-width: 980px){
    .info{
        width: 95%;
    }
    .map{
        width: 95%;
    }
    .results{
        width: 95%;
    }
    #layer_content:after{
        width: 95%;
    }
}
@media screen and (max-width: 768px){
    body{
        font-size: 0.9em;
    }
    .td_level{
        width: 8%
    }
    .td_location{
        width: 24%;
    }
    .td_drop{
        width: 25%;
    }
    .top_button {
        width: 45px;
        bottom: 20px;
        transform: translateY(95px);
    }
    .notice_content{
        padding: 30px 50px;
    }
}
@media screen and (max-width: 620px){
    .title{
        margin-top: 60px;
    }
    .search{
        width: 75%;
    }
    .submit{
/*         display: block; */
    }
    .td_level{
        width: 8%
    }
    .td_name{
        width: 32%;
    }
    .td_location{
        width: 27%;
    }
    .td_drop{
        width: 31%;
    }
    .hunt_icon{
        width: 10px;
        height: 15px;
        padding-left: 3.5px;
    }
    .SAB_icon{
        width: 13px;
        min-width: 13px;
        padding-left: 3.5px;
    }
    .log_icon{
        width: 17px;
        left: 1px;
    }
    .td_coordinate{
        display: none;
    }
    .notice_btn{
        width: 85px;
        height: 27px;
        font-size: 0.97em;
        line-height: 25px;
    }
    .notice_content{
        padding: 25px 40px;
        max-height: 70vh;
    }
}
@media screen and (max-width: 480px){
    body{
        font-size: 0.85em;
    }
    .search{
        width: 80%;
    }
    .show_table{
        line-height: 16px;
    }
    .top_button{
        width: 40px;
        bottom: 20px;
        transform: translateY(95px);
    }
    .notice_content{
        padding: 20px 35px;
    }
    .notice_btn{
        width: 80px;
        height: 27px;
        font-size: 0.95em;
    }
    .close_btn{
        width: 23px;
        height: 23px;
    }
}
@media screen and (max-width: 400px){
    .td_name{
        width: 33%;
    }
    .name_align{
        text-indent: 2px;
    }
    .td_location{
        width: 28%;
    }
    .hunt_icon, .SAB_icon, .log_icon{
        display: none;
    }
}